html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.top-panel {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start; /* Align button to the left */
  align-items: center;
}

.toggle-btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.toggle-btn:hover {
  background-color: #0056b3;
}

.main-layout {
  display: flex; /* Create a flex container for sidebar and content */
  flex-grow: 1; /* Allow it to grow and take available space */
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #333;
  color: white;
  height: 100%; /* Make sidebar height 100% */
  overflow-y: auto; /* Make the sidebar scrollable */
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.group {
  margin-bottom: 40px;
}

.group h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.grid-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.grid-item p {
  margin: 5px 0;
}

.checkbox-container label {
  color: white;
}

.toggle-filters-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.toggle-filters-btn:hover {
  background-color: #0056b3;
}
